<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" th:replace="layout/layout::layout(~{::section})">
    <section class="addPage__section">
        <div class="flex items-center flex-wrap justify-between gap20 mb-27">
            <h3>Add Room</h3>
            <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                <li><a th:href="@{/dashboard}"><div class="text-tiny">Dashboard</div></a></li>
                <li><i class="icon-chevron-right"></i></li>
                <li><div class="text-tiny"><a th:href="@{/rooms/viewAll}">List</a></div></li>
                <li><i class="icon-chevron-right"></i></li>
                <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN')" class="active" th:href="@{/rooms/addUpdate}">Add</li>
            </ul>
        </div>
        <form class="form-add-product" th:object="${dto}" method="post" th:action="@{/rooms/addUpdate}">
            <div class="wg-box">
                <input  th:field="*{id}" type="hidden">
                <div class="gap22 cols">
                    <fieldset class="title">
                        <div class="body-title mb-10">Title <span class="tf-color-1">*</span></div>
                        <input class="mb-10" type="text" placeholder="Enter Title" tabindex="0"  th:field="*{title}">
                        <div th:each="err : ${#fields.errors('title')}" th:text="${err}" class="error text-danger"/>
                    </fieldset>
                    <fieldset class="name">
                        <div class="body-title mb-10">Name <span class="tf-color-1">*</span></div>
                        <input class="mb-10" type="text" placeholder="Enter Name" tabindex="0"  th:field="*{name}">
                        <div th:each="err : ${#fields.errors('name')}" th:text="${err}" class="error text-danger"/>
                    </fieldset>
                </div>
                <div class="gap22 cols">
                    <fieldset class="RoomCategory">
                        <div class="body-title mb-10">Room Category <span class="tf-color-1">*</span></div>
                        <div class="select">
                            <select  th:field="*{roomCategoryId}" class="mb-10">
                                <option th:value="0" th:selected="${roomCategoryId == null}">Choose...</option>
                                <option th:each="roomCategory : ${roomCategoryList}" th:value="${roomCategory.id}" th:text="${roomCategory.name}"></option>
                            </select>
                        </div>
                        <div th:each="err : ${#fields.errors('roomCategoryId')}" th:text="${err}" class="mb-10 error text-danger"/>
                    </fieldset>

                    <fieldset class="games">
                        <div class="body-title mb-10">Select Games <span class="tf-color-1">*</span></div>
                        <div class="select">
                            <select id="game" class="js-example-basic-multiple mb-10" th:field="*{gameIds}"  multiple="multiple">
                                <option th:each="game : ${games}" th:value="${game.id}" th:text="${game.title}"></option>
                            </select>
                        </div>
                        <div th:each="err : ${#fields.errors('gameIds')}" th:text="${err}" class="error text-danger"></div>
                    </fieldset>
                </div>


                <div class="gap22 cols">
                    <fieldset class="enable">
                        <div class="body-title mb-10">Enable<span class="tf-color-1">*</span></div>
                        <input class="mb-10 js-switch" tabindex="0" type="checkbox" data-color="#26c6da" data-secondary-color="#f62d51" th:field="*{enable}" checked>
                        <div style="list-style: none" th:each="err : ${#fields.errors('enable')}" th:text="${err}" class="error text-danger"/>
                    </fieldset>

                        <fieldset class="delete">
                            <div class="body-title mb-10">Delete<span class="tf-color-1">*</span></div>
                            <input class="mb-10 js-switch" tabindex="0" type="checkbox" data-color="#26c6da" data-secondary-color="#f62d51" th:field="*{delete}" checked>
                            <div style="list-style: none" th:each="err : ${#fields.errors('delete')}" th:text="${err}" class="error text-danger"/>
                        </fieldset>
                </div>



                <input type="hidden" class="form-control" th:field="*{createdAt}"/>

                <div class="">
                    <button class="tf-button w208" type="submit">Save</button>
                </div>
            </div>

        </form>
    </section>
</div>
<script xmlns:th="http://www.thymeleaf.org" th:inline="javascript">
    $(document).ready(function () {
        $('.js-example-basic-multiple').select2({
            placeholder: 'Select Games',
            allowClear:true
        });
        setMultiSelectValue([[${dto.gameIds}]],'.js-example-basic-multiple');
    });
</script>