<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" th:fragment="viewAllDetail"
     id="viewAllDetail">
    <div class="wg-table table-all-attribute">
        <ul class="table-title flex gap20 mb-14">
            <li>
                <div class="body-title">ID</div>
            </li>
            <li>
                <div class="body-title">Name</div>
            </li>
            <li>
                <div class="body-title">Enable</div>
            </li>
            <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')">
                <div class="body-title">Action</div>
            </li>
        </ul>
        <ul class="flex flex-column">
            <li class="attribute-item flex items-center justify-between gap20" th:each="data : ${dataList}">
                <div class="body-text" th:text="${data.getId()}"></div>
                <div class="body-text" th:text="${data.name}"></div>
                <div class="body-text" th:text="${data.enable}"></div>
                <div sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')" class="body-text">
                    <div class="list-icon-function">
                        <a th:href="@{|addUpdate/?id=${data.getId()}|}">
                            <div class="item edit">
                                <i class="icon-edit-3"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="divider"></div>
    <div th:replace="common/ajaxPaging::ajaxPaging"></div>
</div>
