<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" th:replace="layout/layout::layout(~{::section})">
    <section class="addPage__section">
        <div class="flex items-center flex-wrap justify-between gap20 mb-27">
            <h3>Add Inventory</h3>
            <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                <li><a th:href="@{/dashboard}"><div class="text-tiny">Dashboard</div></a></li>
                <li><i class="icon-chevron-right"></i></li>
                <li><div class="text-tiny"><a th:href="@{/inventories/viewAll}">List</a></div></li>
                <li><i class="icon-chevron-right"></i></li>
                <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN')" class="active" th:href="@{/inventories/addUpdate}">Add</li>
            </ul>
        </div>
        <form class="form-add-product" th:object="${dto}" method="post" th:action="@{/inventories/addUpdate}">
            <div class="wg-box">
                <input  th:field="*{id}" type="hidden">
                <div class="gap22 cols">
                    <fieldset class="name">
                        <div class="body-title mb-10">Name <span class="tf-color-1">*</span></div>
                        <input class="mb-10" type="text" placeholder="Enter Name" tabindex="0"  th:field="*{name}" />
                        <div th:each="err : ${#fields.errors('name')}" th:text="${err}" class="error text-danger"/>
                    </fieldset>
                    <fieldset class="quantity">
                        <div class="body-title mb-10">Quantity <span class="tf-color-1">*</span></div>
                        <input class="mb-10" type="text" placeholder="Enter Quantity"  th:field="*{quantity}" />
                        <div th:each="err : ${#fields.errors('quantity')}" th:text="${err}" class="error text-danger"/>
                    </fieldset>
                </div>
                <div class="gap22 cols">
                    <fieldset class="price">
                        <div class="body-title mb-10">Price <span class="tf-color-1">*</span></div>
                        <input class="mb-10" type="text" placeholder="Enter Price"  th:field="*{price}" />
                        <div th:each="err : ${#fields.errors('price')}" th:text="${err}" class="error text-danger"/>

                    </fieldset>
                    <fieldset class="InventoryCategory">
                        <div class="body-title mb-10">Inventory Category <span class="tf-color-1">*</span></div>
                        <div class="select">
                            <select   th:field="*{inventoryCategoryId}">
                                <option th:value="0" th:selected="${inventoryCategoryId == null}">Choose...</option>
                                <option th:each="inventoryCategory : ${inventoryCategoryList}" th:value="${inventoryCategory.id}" th:text="${inventoryCategory.name}"></option>
                            </select>
                        </div>
                        <div th:each="err : ${#fields.errors('inventoryCategoryId')}" th:text="${err}" class="error text-danger"/>
                    </fieldset>
                </div>
                <div class="gap22 cols">
                    <fieldset class="Variant">
                        <div class="body-title mb-10">Variant <span class="tf-color-1">*</span></div>
                        <div class="select">
                            <select  th:field="*{variantId}">
                                <option th:value="0" th:selected="${variantId == null}">Choose...</option>
                                <option th:each="variant : ${variants}" th:value="${variant.id}" th:text="${variant.name}"></option>
                            </select>
                        </div>
                        <div th:each="err : ${#fields.errors('variantId')}" th:text="${err}" class="error text-danger"/>
                    </fieldset>
                    <fieldset class="enable">
                        <div class="body-title mb-10">Enable<span class="tf-color-1">*</span></div>
                        <input class="mb-10 js-switch" tabindex="0" type="checkbox" data-color="#26c6da" data-secondary-color="#f62d51" th:field="*{enable}" checked>
                        <div style="list-style: none" th:each="err : ${#fields.errors('enable')}" th:text="${err}" class="error text-danger"/>
                    </fieldset>
                </div>
                <input type="hidden" class="form-control" th:field="*{createdAt}"/>
                <div class="">
                    <button class="tf-button w208" type="submit">Save</button>
                </div>
            </div>

        </form>
    </section>
</div>