<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" th:fragment="viewAllDetail" class="widget" id="viewAllDetail">

    <!-- Start Page Content -->
    <div class="row">
        <div class="col-12">
            <!-- table responsive -->
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Table Inventory </h4>
                    <div class="table-responsive m-t-40">
                        <table class="table table-striped" id="detailTable">
                            <thead>
                            <tr>
                                <th sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN')" >Edit</th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Variant</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Created Date</th>

                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="data : ${dataList}">
                                <td sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN')" ><a th:href="@{|addUpdate/?id=${data.getId()}|}"><i class="ti-pencil"></i></a></td>
                                <td th:text="${data.getId()}"></td>
                                <td th:text="${data.name}"></td>
                                <td th:text="${data.inventoryCategoryName}"></td>
                                <td th:text="${data.variantName}"></td>
                                <td th:text="${data.quantity}"></td>
                                <td th:text="${data.price}"></td>
                                <td th:text="${#dates.format(new java.util.Date(data.getCreatedDate()), 'yyyy-MM-dd HH:mm:ss')}"></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:replace="common/ajaxPaging::ajaxPaging"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End PAge Content -->
</div>
