<div class="section-menu-left" id="sideBarId" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="box-logo">
        <a  th:href="@{/dashboard}" id="site-logo-inner">
            <img class="" id="logo_header" alt="" th:src="${@cdnConfig.getCdnBasePath()}+'/assets/theme/images/logo/logo.png'" th:data-light="${@cdnConfig.getCdnBasePath()}+'/assets/theme/images/logo/logo.png'" th:data-dark="${@cdnConfig.getCdnBasePath()}+'/assets/theme/images/logo/logo-dark.png'" >
        </a>
        <div class="button-show-hide">
            <i class="icon-menu-left"></i>
        </div>
    </div>
    <div class="section-menu-left-wrap">
        <div class="center">
            <div class="center-item">
                <ul class="menu-list">

                    <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_USER')" class="menu-item has-children" th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'game') == true} ? 'active' : ''">
                        <a th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'game') == true} ? 'active' : ''" class="menu-item-button" href="javascript:void(0)" aria-expanded="false">
                            <div class="icon"><i class="icon-github"></i></div>
                            <div class="text">Games</div>
                        </a>

                        <ul aria-expanded="false" class="sub-menu">
                            <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')" class="sub-menu-item">
                                <a th:href="@{/game/addUpdate}">
                                    <div class="text">Add</div>
                                </a>
                            </li>
                            <li class="sub-menu-item">
                                <a th:href="@{/game/viewAll}">
                                    <div class="text">View</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_USER')" class="menu-item has-children" th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'roomCategory') == true} ? 'active' : ''">
                        <a th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'roomCategory') == true} ? 'active' : ''" class="menu-item-button" href="javascript:void(0)" aria-expanded="false">
                            <div class="icon"><i class="icon-layers"></i></div>
                            <div class="text">Room Category</div>
                        </a>

                        <ul aria-expanded="false" class="sub-menu">
                            <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')" class="sub-menu-item">
                                <a th:href="@{/roomCategory/addUpdate}">
                                    <div class="text">Add</div>
                                </a>
                            </li>
                            <li class="sub-menu-item">
                                <a th:href="@{/roomCategory/viewAll}">
                                    <div class="text">View</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_USER')" class="menu-item has-children" th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'rooms') == true} ? 'active' : ''">
                        <a th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'rooms') == true} ? 'active' : ''" class="menu-item-button" href="javascript:void(0)" aria-expanded="false">
                            <div class="icon"><i class="icon-users"></i></div>
                            <div class="text">Room</div>
                        </a>

                        <ul aria-expanded="false" class="sub-menu">
                            <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')" class="sub-menu-item">
                                <a th:href="@{/rooms/addUpdate}">
                                    <div class="text">Add</div>
                                </a>
                            </li>
                            <li class="sub-menu-item">
                                <a th:href="@{/rooms/viewAll}">
                                    <div class="text">View</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_USER')" class="menu-item has-children" th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'booking') == true} ? 'active' : ''">
                        <a th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'booking') == true} ? 'active' : ''" class="menu-item-button" href="javascript:void(0)" aria-expanded="false">
                            <div class="icon"><i class="icon-grid"></i></div>
                            <div class="text">Booking</div>
                        </a>

                        <ul aria-expanded="false" class="sub-menu">
                            <li class="sub-menu-item">
                                <a th:href="@{/booking/addUpdate}">
                                    <div class="text">Add</div>
                                </a>
                            </li>
                            <li class="sub-menu-item">
                                <a th:href="@{/booking/viewAll}">
                                    <div class="text">View</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')" class="menu-item has-children" th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'restaurant') == true} ? 'active' : ''">
                        <a th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'restaurant') == true} ? 'active' : ''" class="menu-item-button" href="javascript:void(0)" aria-expanded="false">
                            <div class="icon"><i class="icon-grid"></i></div>
                            <div class="text">Restaurant</div>
                        </a>

                        <ul aria-expanded="false" class="sub-menu">
                            <li class="sub-menu-item">
                                <a th:href="@{/restaurant/addUpdate}">
                                    <div class="text">Add</div>
                                </a>
                            </li>
                            <li class="sub-menu-item">
                                <a th:href="@{/restaurant/viewAll}">
                                    <div class="text">View</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_USER')" class="menu-item has-children" th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'inventoryCategory') == true} ? 'active' : ''">
                        <a th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'inventoryCategory') == true} ? 'active' : ''" class="menu-item-button" href="javascript:void(0)" aria-expanded="false">
                            <div class="icon"><i class="icon-layers"></i></div>
                            <div class="text">Inventory Category</div>
                        </a>

                        <ul aria-expanded="false" class="sub-menu">
                            <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')" class="sub-menu-item">
                                <a th:href="@{/inventoryCategory/addUpdate}">
                                    <div class="text">Add</div>
                                </a>
                            </li>
                            <li class="sub-menu-item">
                                <a th:href="@{/inventoryCategory/viewAll}">
                                    <div class="text">View</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_USER')" class="menu-item has-children" th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'variant') == true} ? 'active' : ''">
                        <a th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'variant') == true} ? 'active' : ''" class="menu-item-button" href="javascript:void(0)" aria-expanded="false">
                            <div class="icon"><i class="icon-grid"></i></div>
                            <div class="text">Variant</div>
                        </a>

                        <ul aria-expanded="false" class="sub-menu">
                            <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')" class="sub-menu-item">
                                <a th:href="@{/variant/addUpdate}">
                                    <div class="text">Add</div>
                                </a>
                            </li>
                            <li class="sub-menu-item">
                                <a th:href="@{/variant/viewAll}">
                                    <div class="text">View</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_USER')" class="menu-item has-children" th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'inventories') == true} ? 'active' : ''">
                        <a th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'inventories') == true} ? 'active' : ''" class="menu-item-button" href="javascript:void(0)" aria-expanded="false">
                            <div class="icon"><i class="icon-noti-3"></i></div>
                            <div class="text">Inventory</div>
                        </a>

                        <ul aria-expanded="false" class="sub-menu">
                            <li class="sub-menu-item">
                                <a th:href="@{/inventories/addUpdate}">
                                    <div class="text">Add</div>
                                </a>
                            </li>
                            <li class="sub-menu-item">
                                <a th:href="@{/inventories/viewAll}">
                                    <div class="text">View</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN', 'ROLE_USER')" class="menu-item has-children" th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'customer') == true} ? 'active' : ''">
                        <a th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'customer') == true} ? 'active' : ''" class="menu-item-button" href="javascript:void(0)" aria-expanded="false">
                            <div class="icon"><i class="icon-user"></i></div>
                            <div class="text">Customer Check Out</div>
                        </a>
                        <ul aria-expanded="false" class="sub-menu">
                            <li class="sub-menu-item">
                                <a th:href="@{/customer/viewAll}">
                                    <div class="text">View</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')" class="menu-item has-children" th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'users') == true} ? 'active' : ''">
                        <a th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'users') == true} ? 'active' : ''" class="menu-item-button" href="javascript:void(0)" aria-expanded="false">
                            <div class="icon"><i class="icon-user"></i></div>
                            <div class="text">Users</div>
                        </a>

                        <ul aria-expanded="false" class="sub-menu">
                            <li class="sub-menu-item">
                                <a th:href="@{/users/addUpdate}">
                                    <div class="text">Add</div>
                                </a>
                            </li>
                            <li class="sub-menu-item">
                                <a th:href="@{/users/viewAll}">
                                    <div class="text">View</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="menu-item has-children" th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'task') == true} ? 'active' : ''">
                        <a th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'task') == true} ? 'active' : ''" class="menu-item-button" href="javascript:void(0)" aria-expanded="false">
                            <div class="icon"><i class="icon-user"></i></div>
                            <div class="text">Task List</div>
                        </a>

                        <ul aria-expanded="false" class="sub-menu">
                            <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN', 'ROLE_ADMIN')" class="sub-menu-item">
                                <a th:href="@{/task/addUpdate}">
                                    <div class="text">Add</div>
                                </a>
                            </li>

                            <li class="sub-menu-item">
                                <a th:href="@{/task/viewAll}">
                                    <div class="text">View</div>
                                </a>
                            </li>
                        </ul>
                    </li>



                </ul>
            </div>
        </div>
    </div>
</div>
