<div xmlns:th="" th:fragment="ajaxPaging">

    <div class="flex items-center justify-between flex-wrap gap10" th:if="${totalPages > 0}">
        <div class="text-tiny" th:text="'Showing ' + ${pageNumber} +' to '+${totalPages} + ' in ' +${totalPages} + ' records' ">Showing 10 to 16 in 16 records</div>

        <th:block th:with="startPage=${(pageNumber - 2 > 0) ? (pageNumber - 2) : 1}, endPage=${(pageNumber + 2 < totalPages) ? (pageNumber + 2) : totalPages}">


            <ul class="wg-pagination">

                <li th:if="${pageNumber == 1}" class="active disabled"><a class="page-link" href="javascript:;" ><i class="icon-chevron-left"></i></a></li>
                <li th:unless="${pageNumber == 1}"><a class="page-link" th:href="'javascript:;'" th:onclick="'page(1,' + ${pageSize} + ')'"><i class="icon-chevron-left"></i></a></li>
<!--                <li th:if="${pageNumber == 1}" class="page-item disabled"><a class="page-link" href="javascript:;">Previous</a></li>-->
<!--                <li th:unless="${pageNumber == 1}"><a class="page-link" th:href="'javascript:;'" th:onclick="'page(' + (${pageNumber - 1}) + ',' + ${pageSize} + ')'">Previous</a></li>-->

                <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                    <li th:if="${page == pageNumber}" class="active disabled"><a class="page-link" href="javascript:;" th:text="${page}"></a></li>
                    <li th:unless="${page == pageNumber}"><a class="page-link" th:href="'javascript:;'" th:onclick="'page(' + ${page}  + ',' + ${pageSize} + ')'" th:text="${page}"></a></li>
                </th:block>

                <li th:if="${pageNumber >= totalPages}" class="active disabled"><a class="page-link" href="javascript:;" title="Next"><i class="icon-chevron-right"></i></a></li>
                <li th:unless="${pageNumber >= totalPages}"><a class="page-link" th:href="'javascript:;'" th:onclick="'page(' + ${pageNumber + 1}   + ',' + ${pageSize} + ')'"> <i class="icon-chevron-right"></i></a></li>
<!--                <li th:if="${pageNumber >= totalPages}" class="page-item disabled"><a class="page-link" href="javascript:;">Last</a></li>-->
<!--                <li th:unless="${pageNumber >= totalPages}"><a class="page-link" th:href="'javascript:;'" th:onclick="'page(' + ${totalPages}  + ',' + ${pageSize} + ')'">Last</a></li>-->

            </ul>

        </th:block>
    </div>


    <script th:inline="javascript">


        $(document).ready(function () {
            $('#pager-change').change(function() {
                var $option = $(this).find('option:selected');
                var value = $option.val();
                page('1',value)
            });

            errorMessage();
        })


        /**  Retrieving the data from fields and insert into Array  */
        function dataForSerialization(){
            var startDate = $('#startDate').val() != "" ? $('#startDate').val() : "NaN";
            var endDate = $('#endDate').val() != "" ? $('#endDate').val() : "NaN";
            var onlyStartDate = $('#onlyStartDate').val() != "" ? $('#onlyStartDate').val() : "NaN";
            var onlyEndDate = $('#onlyEndDate').val() != "" ? $('#onlyEndDate').val() : "NaN";
            var search = $('#search').val() != "" ? $('#search').val() : "NaN";
            var shift = $('#shift').val() != "" ? $('#shift').val() : "NaN";
            var operatingUnit = $('#operatingUnit').length ? parseInt($('#operatingUnit').find(":selected").val()) : null;
            var campaign = $('#campaign').length ? parseInt($('#campaign').find(":selected").val()) : null;
            var successIndicator = $('#successIndicator').length ? parseInt($('#successIndicator').find(":selected").val()) : 0;
            var advertisement = $('#advertisement').length ? parseInt($('#advertisement').find(":selected").val()) : null;
            var variant = $('#variant').length ? parseInt($('#variant').find(":selected").val()) : null;
            var user = $('#user').length ? parseInt($('#user').find(":selected").val()) : null;
            var restaurant = $('#restaurant').length ? parseInt($('#restaurant').find(":selected").val()) : null;
            var room = $('#room').length ? parseInt($('#room').find(":selected").val()) : null;
            var inventory = $('#inventory').length ? parseInt($('#inventory').find(":selected").val()) : null;
            var roomCategory = $('#roomCategory').length ? parseInt($('#roomCategory').find(":selected").val()) : null;
            var isEnable = parseInt($('#isEnable').find(":selected").val()) || 0;

            var serializedData = {
                startDate: startDate,
                endDate: endDate,
                onlyStartDate: onlyStartDate,
                onlyEndDate: onlyEndDate,
                operatingUnit: operatingUnit,
                campaign: campaign,
                successIndicator: successIndicator,
                advertisement: advertisement,
                variant: variant,
                shift: shift,
                user: user,
                restaurant: restaurant,
                room: room,
                inventory:inventory,
                roomCategory: roomCategory,
                search: search,
                enable: isEnable,
            };
            return serializedData;
        }

        /**  Ajax request for filtration */
        function page(pageNumber, pageSize) {

            /**  Passing the data of fields and adding the additional pageNumber, pageSize and ajax fields */
            var serializedData = dataForSerialization();
            serializedData.ps = pageSize;
            serializedData.pn = pageNumber;
            serializedData.ajax = true;

            $.ajax({
                url : 'viewAll',
                type : 'GET',
                data: serializedData,
                success : function(data) {

                    $('#viewAllDetail').html(data);

                    },
                error : function() {
                    alert("Some error there.");
                }
            });
        }

        /**  Exporting the excel  */
        function excelExport() {
            let reportUrl = /*[[${reportUrl}]]*/ '';
            let reportBasePath = /*[[${reportBasePath}]]*/ '';

            /**  Passing the data of fields */
            var serializedData = dataForSerialization();

            /**  Create XMLHttpRequest to download the file */
            var xhr = new XMLHttpRequest();
            xhr.open('POST', reportUrl + reportBasePath, true);
            xhr.responseType = 'blob'; // Important: Ensure the response type is a blob

            xhr.onload = function () {
                if (xhr.status === 200) {
                    var blob = xhr.response;
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = "Report.xlsx"; // Set the filename
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: "Error generating report."
                    });
                }
            };
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            /**  Serialize the data  */
            var params = $.param(serializedData);
            xhr.send(params);
        }

        /** For Popping-up the error message while the Transaction list is empty */
        function errorMessage(){
            let errorMessage = /*[[${errorMessage}]]*/ '';

            if (errorMessage == true){
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: "No Data Found !!."
                });
            }
        }

    </script>
</div>

