<div xmlns:th="" th:fragment="ajaxPaging">


    <nav aria-label="Pagination" th:if="${totalPages > 0}">
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <!--                Showing+' ' + ${pageNumber} + ' - ' +-->
                <div class="dataTables_info"
                     th:text="${pageNumber} +' of '+${totalPages}">
                </div>
            </div>



            <!-- Calculate start and end page numbers based on current page -->
            <th:block th:with="startPage=${(pageNumber - 2 > 0) ? (pageNumber - 2) : 1}, endPage=${(pageNumber + 2 < totalPages) ? (pageNumber + 2) : totalPages}">


                <div class="col-sm-12 col-md-6">
                    <div class="dataTables_info">
                        <ul class="pagination">

                            <li th:if="${pageNumber == 1}" class="page-item disabled"><a class="page-link" href="javascript:;" >First</a></li>
                            <li th:unless="${pageNumber == 1}"><a class="page-link" th:href="'javascript:;'" th:onclick="'page(1,' + ${pageSize} + ')'">First</a>
                            </li>
                            <li th:if="${pageNumber == 1}" class="page-item disabled"><a class="page-link" href="javascript:;">Previous</a></li>
                            <li th:unless="${pageNumber == 1}"><a class="page-link" th:href="'javascript:;'" th:onclick="'page(' + (${pageNumber - 1}) + ',' + ${pageSize} + ')'">Previous</a></li>

                            <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                                <li th:if="${page == pageNumber}" class="page-item disabled"><a class="page-link" href="javascript:;" th:text="${page}"></a></li>
                                <li th:unless="${page == pageNumber}"><a class="page-link" th:href="'javascript:;'" th:onclick="'page(' + ${page}  + ',' + ${pageSize} + ')'" th:text="${page}"></a></li>
                            </th:block>

                            <li th:if="${pageNumber >= totalPages}" class="page-item disabled"><a class="page-link" href="javascript:;" title="Next">Next</a></li>
                            <li th:unless="${pageNumber >= totalPages}"><a class="page-link" th:href="'javascript:;'" th:onclick="'page(' + ${pageNumber + 1}   + ',' + ${pageSize} + ')'"> Next</a></li>
                            <li th:if="${pageNumber >= totalPages}" class="page-item disabled"><a class="page-link" href="javascript:;">Last</a></li>
                            <li th:unless="${pageNumber >= totalPages}"><a class="page-link" th:href="'javascript:;'" th:onclick="'page(' + ${totalPages}  + ',' + ${pageSize} + ')'">Last</a></li>

                        </ul>
                    </div>
                </div>

            </th:block>




            <div class="col-sm-12 col-md-3">
                <div class="dataTables_length" id="editable-datatable_length">
                    <label>Show
                        <select name="editable-datatable_length" aria-controls="editable-datatable" id="pager-change" th:disabled="${totalCount <= 10}">
                            <option th:selected="${pageSize==10}" value="10" >10</option>
                            <option  th:selected="${pageSize==25}" value="25">25</option>
                            <option  th:selected="${pageSize==50}" value="50">50</option>
                            <option  th:selected="${pageSize==100}" value="100">100</option>
                        </select>
                        entries
                    </label>
                </div>
            </div>


        </div>
    </nav>


    <script th:inline="javascript">


        $(document).ready(function () {
            $('#pager-change').change(function() {
                var $option = $(this).find('option:selected');
                var value = $option.val();
                page('1',value)
            });

            errorMessage();
        })


        /**  Retrieving the data from fields and insert into Array  */
        function dataForSerialization(){
            var startDate = $('#startDate').val() != "" ? $('#startDate').val() : "NaN";
            var endDate = $('#endDate').val() != "" ? $('#endDate').val() : "NaN";
            var search = $('#search').val() != "" ? $('#search').val() : "NaN";
            var operatingUnit = $('#operatingUnit').length ? parseInt($('#operatingUnit').find(":selected").val()) : null;
            var campaign = $('#campaign').length ? parseInt($('#campaign').find(":selected").val()) : null;
            var bank = $('#bank').length ? parseInt($('#bank').find(":selected").val()) : null;
            var successIndicator = $('#successIndicator').length ? parseInt($('#successIndicator').find(":selected").val()) : 0;
            var advertisement = $('#advertisement').length ? parseInt($('#advertisement').find(":selected").val()) : null;
            var isEnable = parseInt($('#isEnable').find(":selected").val()) || 0;

            var serializedData = {
                startDate: startDate,
                endDate: endDate,
                operatingUnit: operatingUnit,
                campaign: campaign,
                bank: bank,
                successIndicator: successIndicator,
                advertisement: advertisement,
                search: search,
                enable: isEnable,
            };
            return serializedData;
        }

        /**  Ajax request for filtration */
        function page(pageNumber, pageSize) {

            /**  Passing the data of fields and adding the additional pageNumber, pageSize and ajax fields */
            var serializedData = dataForSerialization();
            serializedData.ps = pageSize;
            serializedData.pn = pageNumber;
            serializedData.ajax = true;

            $.ajax({
                url : 'viewAll',
                type : 'GET',
                data: serializedData,
                success : function(data) {

                    $('#viewAllDetail').html(data);

                    },
                error : function() {
                    alert("Some error there.");
                }
            });
        }

        /**  Exporting the excel  */
        function excelExport() {
            let reportUrl = /*[[${reportUrl}]]*/ '';

            /**  Passing the data of fields */
            var serializedData = dataForSerialization();

            /**  Create XMLHttpRequest to download the file */
            var xhr = new XMLHttpRequest();
            xhr.open('POST', reportUrl + '/report/generate', true);
            xhr.responseType = 'blob'; // Important: Ensure the response type is a blob

            xhr.onload = function () {
                if (xhr.status === 200) {
                    var blob = xhr.response;
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = "DonationList.xlsx"; // Set the filename
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: "Error generating report."
                    });
                }
            };
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            /**  Serialize the data  */
            var params = $.param(serializedData);
            xhr.send(params);
        }

        /** For Popping-up the error message while the Transaction list is empty */
        function errorMessage(){
            let errorMessage = /*[[${errorMessage}]]*/ '';

            if (errorMessage == true){
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: "No Data Found !!."
                });
            }
        }

    </script>
</div>

