<div xmlns:th="http://www.thymeleaf.org" th:fragment="GenericAllFilters"
     class="widget row" id="GenericAllFilters">
<!--    &lt;!&ndash;Getting filter&ndash;&gt;-->
<!--    <div class="form-group row">-->
<!--        <div class="col-12">-->
<!--            <label for="example-month-input2" class="col-12 col-form-label" th:text="${objectName}"></label>-->
<!--            <select class="form-select col-12" id="example-month-input2" th:id="${obj}" th:for="${obj}" th:onchange="|page(${pageNumber},${pageSize})|">-->
<!--                <option  th:selected th:value="0">Choose...</option>-->
<!--                <option th:each="object : ${objectList}" th:value="${object.id}" th:text="${object.name}"></option>-->
<!--            </select>-->
<!--        </div>-->

<!--        <div class="select">-->
<!--            <select th:id="${obj}" th:for="${obj}" th:onchange="|page(${pageNumber},${pageSize})|">-->
<!--                <option th:text="${objectName}"  th:selected th:value="0">Select Enable</option>-->
<!--                <option th:each="object : ${objectList}" th:value="${object.id}" th:text="${object.name}"></option>-->
<!--            </select>-->
<!--        </div>-->


    <!--Start Date-->
    <div th:if="${fromDateFilter}" class="col-md-6 mb-20">
        <label for="startDate" class="col-12 mb-5 body-title">Enter Start Date</label>
        <fieldset class="name">
            <input type="datetime-local" name="name" tabindex="2"  aria-required="true" id="startDate"  placeholder="Enter Start Date" th:id="startDate" th:onkeypress="|javascript: if(event.keyCode == 13) page(${pageNumber},${pageSize});|">
        </fieldset>
    </div>

        <!--End Date-->
    <div th:if="${toDateFilter}" class="col-md-6 mb-20">
        <label for="endDate" class="col-12 mb-5 body-title">Enter End Date</label>
        <fieldset class="name">
            <input type="datetime-local" name="name" tabindex="2"  aria-required="true"  placeholder="Enter End Date" th:id="endDate" id="endDate" th:onkeypress="|javascript: if(event.keyCode == 13) page(${pageNumber},${pageSize});|">
        </fieldset>
    </div>


    <div th:if="${variantFilter}" class="select col-md-6 mb-20">
            <select th:id="variant" th:for="variant" th:onchange="|page(${pageNumber},${pageSize})|">
                <option th:selected th:value="0"> Select Variant </option>
                <option th:each="v : ${variants}" th:value="${v.id}" th:text="${v.name}"></option>
            </select>
        </div>


    <div th:if="${restaurantFilter}" class="select col-md-6 mb-20">
            <select th:id="restaurant" th:for="restaurant" th:onchange="|page(${pageNumber},${pageSize})|">
                <option th:selected th:value="0"> Select Restaurant </option>
                <option th:each="r : ${restaurants}" th:value="${r.id}" th:text="${r.title}"></option>
            </select>
        </div>


    <div th:if="${roomCategoryFilter}" class="select col-md-6 mb-20">
        <select th:id="roomCategory" th:for="roomCategory" th:onchange="|page(${pageNumber},${pageSize})|">
            <option th:selected th:value="0"> Select Category </option>
            <option th:each="rc : ${roomCategories}" th:value="${rc.id}" th:text="${rc.name}"></option>
        </select>
    </div>

    <div th:if="${roomFilter}" class="select col-md-6 mb-20">
            <select th:id="room" th:for="room" th:onchange="|page(${pageNumber},${pageSize})|">
                <option th:selected th:value="0"> Select Room </option>
                <option th:each="room : ${rooms}" th:value="${room.id}" th:text="${room.name + ' (' + room.title + ')'}"></option>
            </select>
        </div>


</div>

    <script th:inline="javascript">

<!--        $( document ).ready(function() {-->
<!--            $("#endDate").change(function () { dateCheck(); })-->
<!--            $("#startDate").change(function () { dateCheck(); })-->
<!--        });-->

<!--        /**  Confirmation of start/from date must be greater than end/to date  */-->
<!--        function dateCheck(){-->
<!--            let startDate = new Date($("#startDate").val());-->
<!--            let endDate = new Date($("#endDate").val());-->

<!--            if(startDate > endDate) {-->
<!--                Swal.fire({-->
<!--                    icon: 'error',-->
<!--                    title: 'Oops...',-->
<!--                    text: 'End date need to be bigger then start date!'-->
<!--                })-->
<!--            }-->
<!--        }-->

    </script>
</div>
</div>
