<div xmlns:th="http://www.thymeleaf.org" th:fragment="GenericAllFilters" class="widget" id="GenericAllFilters">
<!--    &lt;!&ndash;Getting filter&ndash;&gt;-->
<!--    <div class="form-group row">-->
<!--        <div class="col-12">-->
<!--            <label for="example-month-input2" class="col-12 col-form-label" th:text="${objectName}"></label>-->
<!--            <select class="form-select col-12" id="example-month-input2" th:id="${obj}" th:for="${obj}" th:onchange="|page(${pageNumber},${pageSize})|">-->
<!--                <option  th:selected th:value="0">Choose...</option>-->
<!--                <option th:each="object : ${objectList}" th:value="${object.id}" th:text="${object.name}"></option>-->
<!--            </select>-->
<!--        </div>-->

        <div class="select">
            <select th:id="${obj}" th:for="${obj}" th:onchange="|page(${pageNumber},${pageSize})|">
                <option th:text="${objectName}"  th:selected th:value="0">Select Enable</option>
                <option th:each="object : ${objectList}" th:value="${object.id}" th:text="${object.name}"></option>
            </select>
        </div>

</div>

    <script th:inline="javascript">

<!--        $( document ).ready(function() {-->
<!--            $("#endDate").change(function () { dateCheck(); })-->
<!--            $("#startDate").change(function () { dateCheck(); })-->
<!--        });-->

<!--        /**  Confirmation of start/from date must be greater than end/to date  */-->
<!--        function dateCheck(){-->
<!--            let startDate = new Date($("#startDate").val());-->
<!--            let endDate = new Date($("#endDate").val());-->

<!--            if(startDate > endDate) {-->
<!--                Swal.fire({-->
<!--                    icon: 'error',-->
<!--                    title: 'Oops...',-->
<!--                    text: 'End date need to be bigger then start date!'-->
<!--                })-->
<!--            }-->
<!--        }-->

    </script>
</div>
</div>
