<div xmlns:th="http://www.thymeleaf.org" th:fragment="viewAllFilters" class="col-md-12" id="viewAllFilters">
<!--    &lt;!&ndash;Getting language for filter&ndash;&gt;-->
<!--    <div class="form-group row">-->
<!--        &lt;!&ndash;    This is for load of language&ndash;&gt;-->
<!--        <div th:if="${extraFilters}" class="col-4">-->
<!--            <div th:replace="common/GenericAllFilters::GenericAllFilters"></div>-->
<!--        </div>-->

<!--        <div class="col-4">-->
<!--            <label for="example-month-input2" class="col-12 col-form-label">Select Enable</label>-->
<!--            <select class="form-select col-12" id="example-month-input2" th:id="isEnable" th:for="isEnable" th:onchange="|page(${pageNumber},${pageSize})|">-->
<!--                <option  th:selected th:value="0">Choose...</option>-->
<!--                <option  th:value="1">True</option>-->
<!--                <option  th:value="2">False</option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div class="col-4">-->
<!--            <label for="example-month-input2" class="col-12 col-form-label" > Search Here</label>-->
<!--            <input type="text" class="form-control" th:id="search" placeholder="Enter Search" th:onkeypress="|javascript: if(event.keyCode == 13) page(${pageNumber},${pageSize});|"  />-->
<!--        </div>-->

<!--        <div class="col-4">-->
<!--            <div></div>-->
<!--        </div>-->

<!--    </div>-->
<!--    &lt;!&ndash;Getting language for filter&ndash;&gt;-->

    <form class="form-search">
        <div class="row">
            <div class="col-md-6 mb-20">
                <div class="select">
                    <select th:id="isEnable" th:for="isEnable" th:onchange="|page(${pageNumber},${pageSize})|">
                        <option  th:selected th:value="0">Select Enable</option>
                        <option  th:value="1">True</option>
                        <option  th:value="2">False</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 mb-20">
                <fieldset class="name">
                    <input type="text" placeholder="Enter Search"  name="name" tabindex="2"  aria-required="true" th:id="search" th:onkeypress="|javascript: if(event.keyCode == 13) page(${pageNumber},${pageSize});|">
                </fieldset>
<!--                <div class="button-submit">-->
<!--                    <button class="" type="submit"><i class="icon-search"></i></button>-->
<!--                </div>-->
            </div>
            <div th:if="${extraFilters}" class="col-md-6 mb-20">
                <div th:replace="common/GenericAllFilters::GenericAllFilters"></div>
            </div>
        </div>


    </form>
</div>