<div xmlns:th="http://www.thymeleaf.org" th:fragment="viewAllFilters" class="col-md-12" id="viewAllFilters">
    <div class="form-search">

        <div class="row">
            <div class="col-md-6 mb-20">
                <div class="select">
                    <select th:id="isEnable" th:for="isEnable" th:onchange="|page(${pageNumber},${pageSize})|">
                        <option  th:selected th:value="0">Select Enable</option>
                        <option  th:value="1">True</option>
                        <option  th:value="2">False</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 mb-20">
                <fieldset class="name">
                    <input type="text" placeholder="Enter Search"  name="name" tabindex="2"  aria-required="true" th:id="search" th:onkeypress="|javascript: if(event.keyCode == 13) page(${pageNumber},${pageSize});|">
                </fieldset>
            </div>
            <div th:if="${extraFilters}" class="col-12 mb-20">
                <div th:replace="common/GenericAllFilters::GenericAllFilters"></div>
            </div>
        </div>

    </div>
</div>