<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" th:replace="layout/layout::layout(~{::section})">
    <section class="addPage__section">
        <div id="main-wrapper">
            <!-- Page wrapper  -->
            <div class="page-wrapper">
                <div class="container-fluid">
                    <!-- Bread crumb and right sidebar toggle -->
                    <div class="row page-titles">
                        <div class="col-md-5 align-self-center">
                            <h4 class="text-themecolor">Add more</h4>
                        </div>
                        <div class="col-md-7 align-self-center text-end">
                            <div class="d-flex justify-content-end align-items-center">
                                <ol class="breadcrumb justify-content-end">
                                    <li class="breadcrumb-item"><a th:href="@{/dashboard}">Home</a></li>
                                    <li class="breadcrumb-item"><a th:href="@{/operatingunit/viewAll}">List</a></li>
                                    <li sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN')" class="breadcrumb-item active" th:href="@{/operatingunit/addUpdate}">Add</li>

                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- Bread crumb and right sidebar toggle -->
                    <!-- Start Page Content -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Operating Unit Form</h4>
                                    <form class="form-horizontal row"  th:object="${dto}" method="post" th:action="@{/operatingunit/addUpdate}">

                                        <input  th:field="*{id}" type="hidden">

                                        <div class="form-group col-6">
                                            <label class="control-label required-field" for="title">Title</label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="title" placeholder="Enter Title"  th:field="*{title}" />
                                                <div th:each="err : ${#fields.errors('title')}"
                                                     th:text="${err}" class="error text-danger"/>
                                            </div>
                                       </div>

                                        <!--Legal Entity-->
                                        <div class="form-group col-6">
                                            <label  class="control-label col-sm-4 required-field" >Legal Entity</label>
                                            <div class="col-12">
                                                <select  class="form-control"  th:field="*{legalEntityId}">
                                                    <option th:value="0" th:selected="${legalEntityId == null}">Choose...</option>
                                                    <option th:each="legalEntity : ${legalEntities}" th:value="${legalEntity.id}" th:text="${legalEntity.title}"></option>
                                                </select>
                                                <div th:each="err : ${#fields.errors('legalEntityId')}" th:text="${err}" class="error text-danger"/>
                                            </div>
                                        </div>


                                        <!-- User Name -->
                                        <div class="form-group col-6">
                                            <label class="control-label required-field">User Name</label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="alt"
                                                       placeholder="Enter Username" th:field="*{username}"/>
                                                <div th:each="err : ${#fields.errors('username')}"
                                                     th:text="${err}" class="error text-danger"/>
                                            </div>
                                        </div>

                                        <!-- Order Prefix -->
                                        <div class="form-group col-6">
                                            <label class="control-label required-field">Order Prefix</label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="orderPrefix"
                                                       placeholder="Enter Order Prefix" th:field="*{orderPrefix}"/>
                                                <div th:each="err : ${#fields.errors('orderPrefix')}"
                                                     th:text="${err}" class="error text-danger"/>
                                            </div>
                                        </div>

                                        <!-- Password -->
<!--                                        <div class="form-group col-6">-->
<!--                                            <label class="control-label required-field">password</label>-->
<!--                                            <div class="col-12">-->
<!--                                                <input type="text" class="form-control" id="imageUrl"-->
<!--                                                       placeholder="Enter Password" th:field="*{password}"/>-->
<!--                                                <div th:each="err : ${#fields.errors('password')}"-->
<!--                                                     th:text="${err}" class="error text-danger"/>-->
<!--                                            </div>-->
<!--                                        </div>-->

                                        <!--  banks  -->
                                        <div class="form-group col-6">
                                            <label  class="control-label required-field" >Select Banks</label>
                                            <div class="col-12">
                                                <select id="bank" onchange="defaultBanks()" class="js-example-basic-multiple1 form-control" th:field="*{bankIds}"  multiple="multiple">
                                                    <option th:each="bank : ${banks}" th:value="${bank.id}" th:text="${bank.name}" ></option>
                                                </select>
                                                <div th:each="err : ${#fields.errors('bankIds')}" th:text="${err}" class="error text-danger"></div>
                                            </div>
                                        </div>


                                        <!--  Default bank  -->
                                        <div class="form-group col-6">
                                            <label  class="control-label required-field" >Select Default Checked Bank</label>
                                            <div class="col-12">
                                                <select onchange="defaultBanks(); defaultCurrencyWithPaypal(); defaultCurrencies();" class="form-control" th:field="*{defaultBank}">
                                                    <option th:value="0" th:selected="${defaultBank == null}">Choose...</option>
                                                    <option th:each="bank : ${banks}" th:value="${bank.id}" th:text="${bank.name}" th:data-currency-ids="${bank.currencyId}"></option>
                                                </select>
                                                <div th:each="err : ${#fields.errors('defaultBank')}" th:text="${err}" class="error text-danger"></div>
                                            </div>
                                        </div>

                                        <!--  Currencies  -->
                                        <div class="form-group col-6">
                                            <label  class="control-label required-field" >Select Currencies</label>
                                            <div class="col-12">
                                                <select id="currency" onchange="defaultCurrencies()" class="js-example-basic-multiple form-control" th:field="*{currenciesIds}"  multiple="multiple">
                                                    <option th:each="currency : ${currencies}" th:value="${currency.id}" th:text="${currency.currencyCode}"></option>
                                                </select>
                                                <div th:each="err : ${#fields.errors('currenciesIds')}" th:text="${err}" class="error text-danger"></div>
                                            </div>
                                        </div>

                                        <!--  Default Currency  -->
                                        <div class="form-group col-6">
                                            <label  class="control-label required-field" >Select Default Checked Currency</label>
                                            <div class="col-12">
                                                <select onchange="defaultCurrencies(); defaultCurrencyWithPaypal();" class="form-control" th:field="*{defaultCurrency}">
                                                    <option th:value="null" th:selected="${defaultCurrency == null}">Choose...</option>
                                                    <option th:each="currency : ${currencies}" th:id="${currency.id}" th:value="${currency.currencyCode}" th:text="${currency.currencyCode}"></option>
                                                </select>
                                                <div th:each="err : ${#fields.errors('defaultCurrency')}" th:text="${err}" class="error text-danger"></div>
                                            </div>
                                        </div>


                                        <!--  Enable / Disable  -->
                                        <div class="form-group col-6">
                                            <div class="col-2">
                                                <label>Enable</label>
                                                <div class="form-check form-switch px-0">
                                                    <input type="checkbox" class="js-switch" data-color="#26c6da" data-secondary-color="#f62d51" th:field="*{enable}" checked/>
                                                </div>
                                            </div>

                                        </div>
                                        <input type="hidden" class="form-control" th:field="*{createdAt}"/>

                                        <div class="form-group">
                                            <div >
                                                <button id="btn-submit" class="btn btn-primary text-white" type="submit">Submit</button>
                                            </div>
                                        </div>
                                    </form>


                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- End PAge Content -->
                </div>
            </div>
            <!-- Page wrapper  -->
        </div>
    </section>
</div>

<script xmlns:th="http://www.thymeleaf.org" th:inline="javascript">

    $(document).ready(function () {

        $('.js-example-basic-multiple').select2({
            placeholder: 'Select Currencies',
            allowClear:true
        });

        $('.js-example-basic-multiple1').select2({
            placeholder: 'Select Banks',
            allowClear:true
        });

        setMultiSelectValue([[${dto.currenciesIds}]],'.js-example-basic-multiple');
        setMultiSelectValue([[${dto.bankIds}]],'.js-example-basic-multiple1');
    });

    /**  Prevent from submission when default bank not from the selected banks  */
    function defaultBanks(){
        const defaultBank = $('#defaultBank').val(); // get default bank
        const selectedBanks = $('#bank').val(); // getting list of selected banks

        /** converting the default bank into Number form and popping up the error */
            if ((!selectedBanks.includes(defaultBank)) && (+defaultBank > 0)){
                $('#defaultBank').val('0');
                 sweetAlert("Please choose the default bank from selected banks !!");

            }
    }

    /**  Prevent from submission when default currency not from the selected currencies  */
    function defaultCurrencies(){
        const defaultCurrency = $('#defaultCurrency').val(); // get default currency
        const selectedTexts = [];
        let currencyIds;
        let defaultCurr;

        $("#currency option:selected").each(function() {
            selectedTexts.push($(this).text());
            console.log("Currencies" + $(this).attr('id')); // Retrieves the id of the selected option

        });
        $('#defaultBank option:selected').each(function() {
             let currencyIdString = String($(this).data('currency-ids')); // fetching the allowed currencies current selected default bank
            currencyIds = currencyIdString.split(","); // Convert the string to an array
        });
        $('#defaultCurrency option:selected').each(function() {
            defaultCurr = $(this).attr('id'); // Retrieves the id of the selected option
        });
        console.log("Selected Texts:", selectedTexts);

        /** converting the default currency into Number form and popping up the error */
            if ((defaultCurrency != "") && (!selectedTexts.includes(defaultCurrency) || !currencyIds.includes(defaultCurr.toString()))){
                $('#defaultCurrency').val(null);
                    sweetAlert("Please select the default currency from the chosen and bank-allowed currencies.");
            }
            else if (!currencyIds.includes(defaultCurr.toString())) {
                sweetAlert("Please select the default currency from the chosen and bank-allowed currencies.");
            }
    }

    function defaultCurrencyWithPaypal() {
        if($("#defaultBank").val() == 25){
            console.log("success");
            const defaultCurrency = $('#defaultCurrency').val();
            if((!["GBP", "USD", "CAD", "EUR"].includes(defaultCurrency)) && (defaultCurrency != "")){
                $('#defaultCurrency').val(null);
                sweetAlert("Default Currency should be GBP , USD , CAD , EUR with default bank PayPal !!");
            }

        }
    }

    /**  Error sweet alert pop-up   */
    function sweetAlert(text){
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: text
        });
    }

</script>