<div xmlns:th="http://www.thymeleaf.org" th:replace="layout/layout::layout(~{::section})">


    <section class="addPage__section">
        <div id="main-wrapper">
            <!-- Page wrapper  -->
            <div class="page-wrapper">
                <div class="container-fluid">
                    <!-- Bread crumb and right sidebar toggle -->
                    <div class="row page-titles">
                        <div class="col-md-5 align-self-center">
                            <h4 class="text-themecolor">Add more</h4>
                        </div>
                        <div class="col-md-7 align-self-center text-end">
                            <div class="d-flex justify-content-end align-items-center">
                                <ol class="breadcrumb justify-content-end">
                                    <li class="breadcrumb-item"><a th:href="@{/dashboard}">Home</a></li>
                                    <li class="breadcrumb-item"><a th:href="@{/currency/viewAll}">List</a></li>
                                    <li class="breadcrumb-item active" th:href="@{/currency/addUpdate}">Add</li>

                                </ol>

                            </div>
                        </div>
                    </div>
                    <!-- Bread crumb and right sidebar toggle -->
                    <!-- Start Page Content -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Currency Form</h4>
                                    <form class="form-horizontal row"  th:object="${dto}" method="post" th:action="@{/currency/addUpdate}">

                                        <input th:field="*{id}" type="hidden">

                                        <!-- Name-->
                                        <div class="form-group col-6">
                                            <label class="control-label" for="name">Name</label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="name" placeholder="Enter Name"  th:field="*{name}" />
                                                <div th:each="err : ${#fields.errors('name')}"
                                                     th:text="${err}" class="error text-danger"/>
                                            </div>
                                       </div>

                                        <!-- Currency Code-->
                                        <div class="form-group col-6">
                                            <label class="control-label required-field" for="code">Currency Code</label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="code" placeholder="Enter Currency Code"  th:field="*{currencyCode}" />
                                                <div th:each="err : ${#fields.errors('currencyCode')}"
                                                     th:text="${err}" class="error text-danger"/>
                                            </div>
                                       </div>

                                        <!-- Exchange Rates -->
                                        <div class="form-group col-6">
                                            <label class="control-label" for="rate">Exchange To PKR</label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="rate" placeholder="Enter Exchange Rate"  th:field="*{exchangePkr}" readonly />
                                                <div th:each="err : ${#fields.errors('exchangePkr')}"
                                                     th:text="${err}" class="error text-danger"/>
                                            </div>
                                       </div>

                                        <!-- Enable -->
                                        <div class="form-group row">
                                            <div class="col-2">
                                                <label>Enable</label>
                                                <div class="form-check form-switch px-0">
                                                    <input type="checkbox" class="js-switch" data-color="#26c6da" data-secondary-color="#f62d51" th:field="*{enable}" checked/>
                                                </div>
                                                <div style="list-style: none" th:each="err : ${#fields.errors('enable')}" th:text="${err}" class="error text-danger"/>
                                            </div>

                                        </div>
                                        <input type="hidden" class="form-control" th:field="*{createdAt}"/>

                                        <div class="form-group">
                                            <div >
                                                <button class="btn btn-primary text-white" type="submit">Submit</button>
                                            </div>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- End PAge Content -->
                </div>
            </div>
            <!-- Page wrapper  -->
        </div>
    </section>
</div>