<div class="container" xmlns:th="http://www.thymeleaf.org" th:replace="layout/layout::layout(~{::section})"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <section>
        <section class="addPage__section">
            <div id="main-wrapper">
                <!-- Page wrapper  -->
                <div class="page-wrapper">
                    <div class="container-fluid">
                        <!-- Bread crumb and right sidebar toggle -->
                        <div class="row page-titles">
                            <div class="col-md-5 align-self-center">
                                <h4 class="text-themecolor">Add more</h4>
                            </div>
                            <div class="col-md-7 align-self-center text-end">
                                <div class="d-flex justify-content-end align-items-center">
                                    <ol class="breadcrumb justify-content-end">
                                        <li class="breadcrumb-item"><a th:href="@{/dashboard}">Home</a></li>
                                        <li class="breadcrumb-item"><a th:href="@{/campaign/viewAll}">List</a></li>
                                        <li class="breadcrumb-item active" th:href="@{/campaign/addUpdate}">Add</li>

                                    </ol>
                                </div>
                            </div>
                        </div>
                        <!-- Bread crumb and right sidebar toggle -->
                        <!-- Start Page Content -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Campaign Form</h4>
                                        <form th:action="@{/campaign/addUpdate}" id="formId" method="post" th:object="${dto}"
                                              class="needs-validation" novalidate>
                                            <input th:field="*{id}" type="hidden">
                                            <div class="row">



                                                <!--title-->
                                                <div class="form-group col-6">
                                                    <label class="control-label required-field">Title</label>
                                                    <div class="col-12">
                                                        <input type="text" class="form-control" id="title"
                                                               placeholder="Enter Title"
                                                               th:field="*{title}"/>
                                                        <div th:each="err : ${#fields.errors('title')}"
                                                             th:text="${err}" class="error text-danger"/>
                                                    </div>
                                                </div>

                                                <!--short Description -->
                                                <div class="form-group col-6">
                                                    <label class="control-label required-field">Description</label>
                                                    <div class="col-12">
                                                        <input type="text" class="form-control"
                                                               placeholder="Enter Description"
                                                               th:field="*{description}"/>
                                                        <div th:each="err : ${#fields.errors('description')}"
                                                             th:text="${err}" class="error text-danger"/>
                                                    </div>
                                                </div>

                                                <!--Icon Url-->
                                                <div class="form-group col-6">
                                                    <label class="control-label required-field">Icon Url</label>
                                                    <div class="col-12">
                                                        <input type="text" class="form-control" placeholder="Enter icon url" th:field="*{iconUrl}"/>
                                                        <div th:each="err : ${#fields.errors('iconUrl')}" th:text="${err}" class="error text-danger"/>
                                                    </div>
                                                </div>

                                                <!--Roman Url-->
                                                <div id="romanUrl" class="form-group col-6">
                                                    <label class="control-label required-field">Roman Url</label>
                                                    <div class="col-12">
                                                        <input type="text" class="form-control"
                                                               placeholder="Enter Roman Url" th:field="*{romanUrl}"/>
                                                        <div th:each="err : ${#fields.errors('romanUrl')}"
                                                             th:text="${err}" class="error text-danger"/>
                                                    </div>
                                                </div>

                                                <!-- Operating Unit -->
                                                <div class="form-group col-6">
                                                    <label  class="control-label col-sm-4 required-field" >Operating Unit</label>
                                                    <div class="col-12">
                                                        <select  class="form-control"  th:field="*{operatingUnitId}">
                                                            <option th:value="0" th:selected="${operatingUnitId == null}">Choose...</option>
                                                            <option th:each="operatingUnit : ${operatingUnits}" th:value="${operatingUnit.id}" th:text="${operatingUnit.title}"></option>
                                                        </select>
                                                        <div th:each="err : ${#fields.errors('operatingUnitId')}" th:text="${err}" class="error text-danger"/>
                                                    </div>
                                                </div>


                                                <!--startDate-->
                                                <div id="s_date" class="form-group col-6">
                                                    <label class="control-label required-field">Start Date</label>
                                                    <div class="col-12">
                                                        <input  type="date" class="form-control" id="startDate"
                                                               placeholder="Enter Start Date" th:field=*{startDate}/>
                                                        <div th:each="err : ${#fields.errors('startDate')}"
                                                             th:text="${err}" class="error text-danger"/>
                                                    </div>
                                                </div>

                                                <!--endDate-->
                                                <div id="e_date" class="form-group col-6">
                                                    <label class="control-label required-field">End Date</label>
                                                    <div class="col-12">
                                                        <input  type="date" class="form-control" id="endDate"
                                                               placeholder="Enter End Date" th:field=*{endDate}/>
                                                        <div th:each="err : ${#fields.errors('endDate')}"
                                                             th:text="${err}" class="error text-danger"/>
                                                    </div>
                                                </div>


                                                <fieldset class="my__fieldset__tag" style="border: 1px solid #ebeef1;margin-bottom: 15px;padding: 10px;">
                                                    <legend class="my__legend__tag" style="font-size: 20px;padding: 5px 10px;width: auto;">Banner</legend>
                                                        <div class="row">
                                                            <!--Image Url-->
                                                            <div class="form-group col-6">
                                                                <label class="control-label required-field">Image Url</label>
                                                                <div class="col-12">
                                                                    <input type="text" class="form-control" placeholder="Enter image url" th:field="*{imageUrl}"/>
                                                                    <div th:each="err : ${#fields.errors('imageUrl')}" th:text="${err}" class="error text-danger"/>
                                                                </div>
                                                            </div>

                                                            <!--banner title-->
                                                            <div class="form-group col-6">
                                                                <label class="control-label required-field">Banner Title</label>
                                                                <div class="col-12">
                                                                    <input type="text" class="form-control" id="bannerTitle"
                                                                           placeholder="Enter Title"
                                                                           th:field="*{bannerTitle}"/>
                                                                    <div th:each="err : ${#fields.errors('bannerTitle')}"
                                                                         th:text="${err}" class="error text-danger"/>
                                                                </div>
                                                            </div>

                                                            <!--banner Description -->
                                                            <div class="form-group col-6">
                                                                <label class="control-label required-field">Banner Description</label>
                                                                <div class="col-12">
                                                                    <input type="text" class="form-control"
                                                                           placeholder="Enter Description"
                                                                           th:field="*{bannerDescription}"/>
                                                                    <div th:each="err : ${#fields.errors('bannerDescription')}"
                                                                         th:text="${err}" class="error text-danger"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </fieldset>



                                                <input type="hidden" class="form-control" th:field="*{createdAt}"/>


                                                <!--Enable & Important-->
                                                <div class="form-group col-2">
                                                    <div class="col-12">
                                                        <label>Enable</label>
                                                        <div class="form-check form-switch px-0">
                                                            <input type="checkbox" class="js-switch" data-color="#26c6da" data-secondary-color="#f62d51" th:field="*{enable}" checked/>
                                                        </div>
                                                        <div style="list-style: none" th:each="err : ${#fields.errors('enable')}" th:text="${err}" class="error text-danger"/>
                                                    </div>
                                                </div>

                                                <!--Sadqa -->
                                                <div class="form-group col-2">
                                                    <div class="col-12">
                                                        <label class="required-field">Sadqa</label>
                                                        <div class="form-check form-switch px-0">
                                                            <input type="checkbox" class="js-switch" data-color="#26c6da" data-secondary-color="#f62d51" th:field="*{sadqa}" checked/>
                                                        </div>
                                                        <div style="list-style: none" th:each="err : ${#fields.errors('sadqa')}" th:text="${err}" class="error text-danger"/>
                                                    </div>
                                                </div>

                                                <!--Zakat -->
                                                <div class="form-group col-2">
                                                    <div class="col-12">
                                                        <label class="required-field">Zakat</label>
                                                        <div class="form-check form-switch px-0">
                                                            <input type="checkbox" class="js-switch" data-color="#26c6da" data-secondary-color="#f62d51" th:field="*{zakat}" checked/>
                                                        </div>
                                                        <div style="list-style: none" th:each="err : ${#fields.errors('zakat')}" th:text="${err}" class="error text-danger"/>
                                                    </div>
                                                </div>

                                                <!--Life Time -->
                                                <div id="life_time" class="form-group col-2">
                                                    <div class="col-12">
                                                        <label>Life Time</label>
                                                        <div class="form-check form-switch px-0">
                                                            <input id="lifeTime" onchange="showOrHide()" type="checkbox" class="js-switch" data-color="#26c6da" data-secondary-color="#f62d51" th:field="*{lifeTime}" checked/>
                                                        </div>
                                                        <div style="list-style: none" th:each="err : ${#fields.errors('lifeTime')}" th:text="${err}" class="error text-danger"/>
                                                    </div>
                                                </div>


                                                <!-- Root -->
                                                <div class="form-group col-2">
                                                    <div class="col-12">
                                                        <label>Root</label>
                                                        <div class="form-check form-switch px-0">
                                                            <input id="root" onchange="showOrHide()" type="checkbox" class="js-switch" data-color="#26c6da" data-secondary-color="#f62d51" th:field="*{root}" checked/>
                                                        </div>
                                                        <div style="list-style: none" th:each="err : ${#fields.errors('root')}" th:text="${err}" class="error text-danger"/>
                                                    </div>
                                                </div>


                                                <!--  Show Home  -->
                                                <div class="form-group col-2">
                                                    <div class="col-12">
                                                        <label>Show Home</label>
                                                        <div class="form-check form-switch px-0">
                                                            <input type="checkbox" class="js-switch" data-color="#26c6da" data-secondary-color="#f62d51" th:field="*{showHome}" checked/>
                                                        </div>
                                                        <div style="list-style: none" th:each="err : ${#fields.errors('showHome')}" th:text="${err}" class="error text-danger"/>
                                                    </div>
                                                </div>
                                            </div>

                                            <button class="btn btn-primary text-white" id="btn-submit"  type="submit">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                    <!-- End PAge Content -->
                </div>
            </div>
            <!-- Page wrapper  -->

        </section>

        <script th:inline="javascript">

            $("#formId").submit(function (event) {
                /**  For sadqa and zakat both unchecked  */
                let sadqaChecked = $("#sadqa").is(":checked");
                let zakatChecked = $("#zakat").is(":checked");

                /**  For start and end date   */
                let lifeTimeChecked = $("#lifeTime").is(":checked");
                let startDate = new Date($("#startDate").val());
                let endDate = new Date($("#endDate").val());


                if(!lifeTimeChecked && startDate > endDate) {
                    event.preventDefault();  // Stop form submission
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'End date needs to be greater than the start date!'
                    });                }
                else if (!sadqaChecked && !zakatChecked) {
                    sweetAlert("At least one of Sadqa or Zakat must be selected!");
                    event.preventDefault();  // Stop form submission
                }
                else {
                    $('#formId')[0].submit();
                }
            });

            /** for displaying when first time page loads */
            showOrHide();

            $(document).ready(function () {


            });

            function sweetAlert(text){
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: text
                });
            }

            function showOrHide(){
                /**  Onchanged fields  */
                let rootChecked = $("#root").is(":checked");
                let lifeTimeChecked = $("#lifeTime").is(":checked");

                /**  Fields which should be hide or show  */
                $('#s_date').show();
                $('#e_date').show();
                $('#romanUrl').show();
                $('#life_time').show();

                if(rootChecked){
                    $('#s_date').hide();
                    $('#e_date').hide();
                    $('#romanUrl').hide();
                    $('#life_time').hide();

                }
                else if(lifeTimeChecked){
                    $('#e_date').hide();
                }
                /** check the dates if selected before */
                // dateCheck();
            }

            function dateCheck(e){
                let lifeTimeChecked = $("#lifeTime").is(":checked");
                let startDate = new Date($("#startDate").val());
                let endDate = new Date($("#endDate").val());

                if(!lifeTimeChecked && startDate > endDate) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'End date need to be bigger then start date!'
                    });
                    e.preventDefault();

                    // $("#btn-submit").prop("disabled", true)
                }
                else{
                    // $("#btn-submit").prop("disabled", false)
                }
            }

            $( document ).ready(function() {
                console.log( "ready!" );
                // $("#endDate").change(function () { dateCheck(); })
                // $("#startDate").change(function () { dateCheck(); })
            });
        </script>

    </section>

</div>
