<div xmlns:th="http://www.thymeleaf.org" th:fragment="viewAllDetail" class="widget" id="viewAllDetail">
    <!-- Start Page Content -->
    <div class="row">
        <div class="col-12">
            <!-- table responsive -->
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Table Campaign</h4>
                    <!--                                    <h6 class="card-subtitle">Data table example</h6>-->
                    <div class="table-responsive m-t-40">
                        <table class="table table-striped" id="detailTable">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Edit</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Image Url</th>
                                <th>Roman Url</th>
                                <th>Sadqa</th>
                                <th>Zakat</th>
                                <th>Life Time</th>
                                <th>Enable</th>
                                <th>Start Date</th>
                                <th>End Date</th>

                            </thead>
                            <tbody>


                            <tr th:each="data : ${dataList}">
                                <td th:text="${data.id}"></td>
                                <td><a th:href="@{|/campaign/addUpdate/?id=${data.getId()}|}"><i class="ti-pencil"></i></a></td>
                                <td th:text="${data.title}"></td>
                                <td th:text="${#strings.abbreviate(data.description,50)}"></td>
<!--                                <td th:text="${data.description}"></td>-->
                                <td th:text="${data.imageUrl}"></td>
                                <td th:text="${data.romanUrl}"></td>
                                <td th:text="${data.sadqa}"></td>
                                <td th:text="${data.zakat}"></td>
                                <td th:text="${data.lifeTime}"></td>
                                <td th:text="${data.enable}"></td>
                                <td th:text="${data.startDate}"></td>
                                <td th:text="${data.endDate}"></td>
<!--                                <td th:text="${#dates.format(#dates.create(data.startDate), 'yyyy-MM-dd HH:mm:ss')}"></td>-->
<!--                                <td th:text="${#dates.format(#dates.create(data.startDate), 'yyyy-MM-dd HH:mm:ss')}"></td>-->



                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:replace="common/ajaxPaging::ajaxPaging"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End PAge Content -->
</div>
